

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.MyData.Description</h2>
        <p>
            @ViewBag.MyData.MetaData
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=@ViewBag.MyData.Id">Learn more about @ViewBag.MyData.Description &raquo;</a></p>
    </div>
</div>